.add-details{
  color: #080808;
}
.add-details-logo{
  width: 255px;
  height: 150px;
  border-radius: 8px;
  margin-right: 20px;
}
.rupee-para{
  color: #334155;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: 'DM sans',sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width:360px){
  .rupee-para{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2px;
  }
}
.details-head{
  color: #334155;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: 'DM sans',sans-serif;
}
@media screen and (max-width:360px) {
  .details-head{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
}
.star-icon2{
  height: 23px;
  width: 23px;
  color: #FFCC00;
}
@media screen and (max-width:360px){
  .star-icon2{
    height: 12px;
    width: 12px;
    margin-right: 3px;
  }
}
.rating-head{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 22px;
  font-family: 'DM sans',sans-serif;
  color: #334155;
}
@media screen and (max-width:360px){
  .rating-head{
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
  }
}

.details-btn{
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid #FFA412;
  padding: 8px 16px;
  /* border: none; */
  outline: none;
  color: #FFA412;
  font-size: 18px;
  font-weight: bold;
  margin-top: 8px;

}
@media screen and (max-width:360px){
  .details-btn{
    padding: 5px 11px;
  }
}
.detail-align-para{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.add-details-image-head{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 550px;
  margin-bottom: 30px;
}
@media screen and (max-width:360px) {
  .add-details-logo{
    width: 160px;
    height: 100px;
  }
}
.add-Details-row-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}