.home-bg{
  background-color: #ffffff;
  min-height: 100vh;
  background-size: cover;
  box-sizing: border-box;
  /* padding-bottom: 50px; */

}

.slider-container {
  /* width: 100%; */
  margin: 30px auto;
  margin-left: 165px;
  margin-right: 165px;
  margin-bottom: 30px;
}

.home-banner {
  width: 100%;
  height: 320px;
  border-radius: 8px;
  object-fit: cover;
}
.popular-cotainer{
  margin-right: 165px;
  margin-left: 165px;
}