.home-bg{
  background-color: #ffffff;
  min-height: 100vh;
  background-size: cover;
  box-sizing: border-box;
  /* padding-bottom: 50px; */

}

.slider-container {
  /* width: 100%; */
  margin: 30px auto;
  margin-left: 165px;
  margin-right: 165px;
  margin-bottom: 30px;
}
@media screen and (min-width: 384px) and (max-width: 768px) {
  .slider-container{
    width: 384px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    object-fit: contain;
    object-position: center;
  }
}

.home-banner {
  width: 100%;
  height: 320px;
  border-radius: 8px;
  object-fit: cover;
}
@media screen and (min-width: 3384px) and (max-width: 768px) {
  .home-banner{
    height: 180px;
    position: end;
  }
}
.popular-cotainer{
  margin-right: 165px;
  margin-left: 165px;
}
@media screen and (min-width: 384px) and (max-width: 768px) {
  .popular-cotainer{
    margin-left: 20px;
    margin-right: 20px;
  }
}