.food-main-container{
  background-color: #ffffff;
  height: 100vh;
  box-sizing: border-box;
}
.add-datails-container{
  padding-left: 165px;
  padding-right: 165px;
}
@media screen and (max-width:360px) {
  .add-datails-container{
    padding-left: 20px;
    padding-right: 10px;
  }
}