.cart-container{
  margin-right: 165px;
  margin-left: 165px;
  margin-top: 30px;
  background-color: #0B69FF1A;
  padding: 20px;
  margin-bottom: 40px;
}
.details-head-cart{
  color: #334155;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: 'DM sans',sans-serif;
}
.details-head-cart2{
  display: none;
  color: #334155;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-family: 'DM sans',sans-serif;
}

@media screen and (max-width:360px){
  .details-head-cart2{
    display: contents;
    font-size: 14px;
  }
  .details-head-cart{
    display: none;
  }
}
@media screen and (max-width:360px) {
  .cart-container{
    margin-left: 0px;
    margin-right: 0px;
  }
}

.item-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
@media screen and (max-width:360px){
  .item-div{
    display: none;
  }
}
.item-width1{
  width: 350px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #475569;
  font-family: 'DM sans',sans-serif;
  /* text-align: start; */
}

.item-width2{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #475569;
  font-family: 'DM sans',sans-serif;
  width: 142px;
  /* text-align: start; */
}
.item-width3{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #475569;
  font-family: 'DM sans',sans-serif;
  width: 142px;
  /* text-align: start; */
}
.add-details-logo2{
  width: 136px;
  height: 100px;
  border-radius: 8px;
}
@media screen and (max-width:360px){
  .add-details-logo2{
    height: 90px;
  }
}
.image-head{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 350px;
}
.add-sub{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 142px;
}

.price{
  width: 142px;
}
.align-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
/* @media screen and (max-width:360px){
  .align-div{
    display: flex;
    flex-direction: column;
  }
} */
.minut-btn{
  background-color: transparent;
  border: none;
  outline: none;
  margin-right: 5px;
}
.plus-btn{
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 5px;
}
.minus-icon{
  height: 20px;
  width: 20px;
}
.count-item{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-family: 'DM sans',sans-serif;
  color: #475569;
}
.rupee-cart{
  font-family: 'DM sans',sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFA412;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cart-hr{
  border: none;               /* Clear default styles */
  border-top: 2px dashed blue;
}
.total-order{
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #3E4C59;
  width: 493px;
}
.total-price{
  font-family: 'DM sans',sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  width: 142px;
  color: #3E4C59;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.total-price-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  justify-content: space-between;
  margin-top: 15px;
}
.place-order-btn{
  padding: 8px 16px;
  background-color: #F7931E;
  border-radius: 8px;
  font-family: 'DM sans',sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  border: none;
  outline: none;
}
.place-div{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 40px;
  margin-top: 10px;
}
